

.mason-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 1em 1em;

    .mason-article:nth-child(1n) {
        background-color: $clr_light_orange;
    }

    .mason-article:nth-child(2n) {
        background-color: $clr_lightest_green;
    }

    .mason-article:nth-child(3n) {
        background-color: $clr_ml_grey;
    }
}

@media (min-width: 600px) {
    .mason-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 1em;
    
        .mason-article:nth-child(1n) {
            grid-area: 2 / 1 / 5 / 2;
            background-color: $clr_orange;
        }
    
        .mason-article:nth-child(2n) {
            grid-area: 1 / 2 / 4 / 3;
            background-color: $clr_lightest_green;
        }
    
        .mason-article:nth-child(3n) {
            grid-area: 4 / 2 / 6 / 3;
            background-color: $clr_ml_grey;

            .mason-article__img-cntr {
                height: 100%;
                width: 100%;
                position: absolute;

                img {                     
                    height: 100%;
                    width: 100%;
                    margin: 0 auto;
                    opacity: .60;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    // .mason-grid {
    //     grid-template-columns: repeat(2, 1fr);
    //     grid-template-rows: repeat(5, 1fr);
    
    //     .mason-article:nth-child(1n) {
    //         grid-area: 2 / 1 / 5 / 2;
    //         background-color: $clr_light_orange;
    //     }
    
    //     .mason-article:nth-child(2n) {
    //         grid-area: 1 / 2 / 4 / 3;
    //         background-color: $clr_lightest_green;
    //     }
    
    //     .mason-article:nth-child(3n) {
    //         grid-area: 4 / 2 / 6 / 3;
    //         background-color: $clr_ml_grey;
    
    //         .img-cntr {
    //             display: none;
    //         }
    //     }
    // }
}