.section-wrapper {
  height: auto;
  width: auto;
}

.theme-l-grey {
  background-color: $clr_l_grey;
}

.theme-m-grey {
  background-color: $clr_ml_grey;
}

.theme-d-grey {
  background-color: $semitrans_dark_grey;
}

.theme-l-orange {
  background-color: $clr_light_orange;
}


.theme-midnight-green {
  background-color: $clr_midnight_green;
  color: $clr_lightest_green;
}
