
// GRID-BASE
.grid-cntr {
  height: auto;
  width: 100%;
  display: grid;
  row-gap: 2em;
  column-gap: 0;
}

@media (min-width: 600px) {
  .grid-cntr {
    row-gap: 1em;
    column-gap: 2.75em;
  }
}
@media (min-width: 992px) {
  .grid-cntr {
    row-gap: 1em;
    column-gap: 3em;
  }
}


// GRID 2x2 - 2 rows x 2 columns
.grid-2-2 {
  grid-template-columns: repeat(1, auto);
}

@media (min-width: 600px) {
  .grid-2-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &__col-1 { // Column 1
      height: 100%;
      grid-area: 1 / 1 / 2 / 2;
    }
    &__col-2 { // Column 2
      height: 100%;
      grid-area: 1 / 2 / 2 / 2;
    }

    &__col-1-2 { // Column 1 + 2
      height: 100%;
      grid-area: 1 / 1 / 3 / 2;
    }

    &__col-2-4 { // Column 2 + 4
      height: 100%;
      grid-area: 1 / 2 / 3 / 3;
    }

    &__col-3 { // Column 3
      height: 100%;
      grid-area: 2 / 1 / 3 / 2;
    }

    &__col-4 { // Column 4
      height: 100%;
      grid-area: 2 / 2 / 3 / 2;
    }
  }
}


// GRID 1 x 2 - 1 row x 2 columns
.grid-1-2 {
  grid-template-columns: repeat(1, auto);
  grid-template-rows: 1fr;
}

@media (min-width: 600px) {
  .grid-1-2 { // Grid area 2x2
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    &__col-1 { // Column 1
      height: 100%;
      grid-area: 1 / 1 / 2 / 2;
    }
    
    &__col-2 { // Column 2
      height: 100%;
      grid-area: 1 / 2 / 2 / 3;
    }
  }
}


// GRID 2 x 1 - 2 rows x 1 column
.grid-2-1 {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, auto);
}

@media (min-width: 600px) {
  .grid-2-1 { // Grid area 2x2
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    &__row-1 { // Column 1
      height: 100%;
      grid-area: 1 / 1 / 2 / 2;
    }

    &__row-2 { // Column 2
      height: 100%;
      grid-area: 2 / 1 / 3 / 2;
    }
  }
}

