
// CTA button
.cta-btn {
  height: auto;
  width: auto;
  margin: auto auto;
  padding: 1em 2em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  border: none;
  background-color: $clr_lightest_green;
  font-size: $fs_m;
  border-radius: 50px;
  cursor: pointer;
  transition: ease-in .02s;

  &__text {
    color: $clr_midnight_green;
    width: 100%;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      background-color: $clr_lightest_green;
    }
  }

  &__svg-cntr {
    height: auto;
    width: auto;
    svg {
      circle {
        fill: $clr_midnight_green;
        stroke: $clr_midnight_green;
      }
    }
  }

}



.cta-cntr-light {
  width: max-content;

  .cta-btn {
    color: $clr_lightest_green;
    background-color: transparent;
    border: solid $clr_lightest_green 1px;
    transition: ease-in .02s;

    &__text {
      color: $clr_lightest_green;
      width: 100%;
      // &::after {
      //   content: "";
      //   width: 10px;
      //   height: 1px;
      //   display: block;
      //   background-color: $clr_lightest_green;
      // }
    }

    &__svg-cntr {
      svg {
        circle {
          fill: $clr_lightest_green;
          stroke: $clr_lightest_green;
        }
      }
    }
    
    &:hover {
      background-color:rgba(204, 242, 219, .10);
    }
  }
  
}

@media (min-width: 600px) {
   
  .cta-btn {
    width: max-content;
    padding: 1em 2.25em;
  }
}

@media (min-width: 992px) {}



