.hero-cntr {
    min-height: 500px;
    width: 100%;
    position: relative;

    &__img-cntr {
        height: 100%;
        width: 100%;
        background-color: #dadada;
        position: absolute;
        background-image: url("/data/media/petridishes.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;


        // img {
        //     margin: 0;
        //     height: 100%;
        //     width: 100%;
        //     object-fit: cover;
        // }
    }

    &__txt-cntr {
        height: auto;
        width: 100%;
        top: 50%;
        left: 0;
        position: absolute;

        h1 {
            font-size: $fs_3xl;
        }

        p {
            font-size: $fs_l;
        }

    }
}

@media (min-width: 600px) {
    .hero-cntr {
    
        &__txt-cntr {
            width: 80%;
        }
    }
}

@media (min-width: 992px) {
    .hero-cntr {
    
        &__txt-cntr {
            width: 80%;
        }
    }
}