.hero-wrapper {

  .hero {
    // min-height: 600px;
    // width: 100%;
    // position: relative;

    .hero-cntr {
      min-height: 600px;
      width: auto;
      position: relative;
      

      &__img-cntr {
        height: 100%;
        width: 100%;
        position: absolute;
        background-image: url("/data/media/gettywhales.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
      }

      &__txt-cntr {
        height: auto;
        width: auto;
        margin: 0 0;
        bottom: -1px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;

        &__headline {
          height: auto;
          width: auto;
          padding: 2em 4em;
          color: $clr_l_grey;

          h1 {
            width: 100%;
            font-size: $fs_3xl;
          }
        }

        &__btm {
          height: auto;
          width: auto;
          bottom: 0;
          display: flex;
          flex-direction: row;

          &__text {
            border: solid $clr_l_grey 1px;
            height: auto;
            width: auto;
            margin: 0 0;
            padding: 2em 4em;
            background-color: $clr_l_grey;
            p {
              // width: 100%;
              font-size: $fs_l;
            }
          }

          &__cta {
            // border: solid blue 1px;
            height: auto;
            width: 30%;
            padding: 2em 4em;
            // position: absolute;
            // background-color: $semitrans_lightest_green_80;
            transition: ease-in .10s; 

            .cta-inner-cntr {
              height: auto;
              width: auto;
              // margin: .75em 2em .75em 1em;
              margin: auto auto;
              display: flex;
              flex-direction: row;
              gap: 5em; 
              color: $clr_l_grey;  
            }
            &:hover {
              color: $clr_lightest_green;
            }
          }
        }

        
        
      }

    }
  }
  .textSection {
    margin: 0 auto;
    width: calc(100% - 2em);
  }
}


.theme-midnight-green {
    background-color: $clr_midnight_green;
}


// @media (min-width: 600px) {
//     .hero-wrapper {
//         .hero-cntr {
//             &__txt-cntr {
//                 width: 70%;
//                 margin: 1em 2em;

//             }
//         }
//     }
// }


// @media (min-width: 992px) {
//     .hero-wrapper {
//         .hero-cntr {
//             &__txt-cntr {
//                 width: 50%;
//                 margin: 1em 2em;
//             }
//         }
//     }
// }