.mason-article {
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &__img-cntr {
        height: 260px;
        width: auto;
        display: flex;
        justify-content: center;

        img {
            height: 90%;
            width: 90%;
            margin: 1em auto 0 auto;
            object-fit: cover;
            object-position: center;
            border-radius: 100px;
        }
    }

    &__txt-cntr {
        height: auto;
        width: auto;
        margin: .75em;
        bottom: 0;
        display: flex;
        flex-direction: row;
        gap: .5em;
        justify-content: space-between;

        &__cont {
            // border: solid blue 1px;
            height: 100%;
            width: 100%;
            margin: 2em 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: .5em;
            z-index: 100;

            &__tag {
                text-transform: uppercase;
                font-size: $fs_xs;
            }

            &__headline {
                margin: 0 0 .25em 0;
                font-size: $fs_l;
            }

            a {
                width: fit-content;
                font-size: $fs_l;

                &::after {
                    content: "";
                    display: block;
                    width: 110%;
                    height: 1px;
                    background-color: $clr_m_grey;
                }
            }
        }


        &__vertical-right {
            // border: solid blue 1px;
            height: auto;
            width: max-content;
            right: 0;
            bottom: 0;
            color: $clr_midnight_green;
            display: flex;
            align-items: flex-end;
            

            &__inner-cntr {
                display: flex;
                flex-direction: row;
                rotate: 180deg;
                bottom: 0;
                writing-mode:vertical-rl;
                text-orientation: mixed;
            }

            p {
                font-size: $fs_l;
            }

            span {
                content: '';
                width: 1px;
                height: 1em;
                margin: .25em auto;
                background-color: $clr_midnight_green;
            }
        }


    }
}


@media (min-width: 600px) {

}

@media (min-width: 992px) {

}