.search-cntr {
  width: 100%;
  margin: 1em 0em 2em 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid $clr_midnight_green 1px;
  position: relative;

  &__input {
    height: 100%;
    width: 100%;
    padding: .5em 0em;
    border: none;
    background-color: transparent;
    border: solid transparent 1px;

    &::placeholder {
      color: $clr_midnight_green;
    }
    &:focus {
      border: solid $clr_light_green 1px;
      outline: $clr_light_green;
    }
  }

  .search-svg {
    height: 14px;
    width: 14px;
    margin: .5em 0em;
    right: 0;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='8.5' stroke='black' stroke-width='2'/%3E%3Cline x1='15.1407' y1='15.8595' x2='20.1407' y2='20.8595' stroke='%23183428' stroke-width='2'/%3E%3C/svg%3E%0A");    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

@media (min-width: 425px) {
  .search-cntr {
    width: 50%;
  }
}


@media (min-width: 600px) {
  .search-cntr {
    width: 46%;
  }
}

@media (min-width: 1200px) {
  .search-cntr {
    width: 30%; 
  }
}

.loop-svg {
  height: 15px;
  width: 14px;
  margin: auto 0;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7.5' fill='%23183428'/%3E%3Ccircle cx='17' cy='18' r='3' fill='%23183428'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}