
.swiper-slide:nth-of-type(3n -2) {
    .swiper-article {
        background-color: $clr_white;
    }
}

.swiper-slide:nth-of-type(3n -1) {
    .swiper-article {
        background-color: $clr_m_grey;
    }
}

.swiper-slide:nth-of-type(3n) {
    .swiper-article {
        background-color: $clr_ml_grey;
    }
}

