.swiper-article {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  bottom: 0;

  &__img-cntr {
    height: 200px;
    width: 100%;
    position: relative;

    img {            
      height: 100%;
      width: 100%;
      margin: 0;
      object-fit: cover;
      object-position: center center;
      position: absolute;
    }
  }

  .swiper-article-cont {
    height: 100%;
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

      &__txt {
        height: 100%;
        width: 100%;
        padding: .5em .25em;
        display: flex;
        flex-direction: column;
        gap: .75em;

        &__details {
          display: flex;
          flex-direction: row;
          gap: .5em;
          color: $clr_ml_grey;
          .show-details {
            display: none;
          }
        }

        &__headline {
          font-size: $fs_xl;
        }

        span {
          text-transform: capitalize;
        }

        .txt-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      &__btm {
        width: 100%;
        display: flex;
        justify-content: right;
        bottom: 0;
      }
  }   
}


// -----------------


.swiper-article.podcast-article {
  // border: solid red 1px;
  .img-cntr {
    height: 260px;
    width: auto;
    position: relative;
    img {            
      height: 100%;
      width: 100%;
      margin: 0;
      object-fit: cover;
      object-position: center center;
      position: absolute;
    }
  }

  // &__img-cntr {
  //   height: 280px;
  //   width: 100%;
  //   position: relative;

  //   img {            
  //     height: 100%;
  //     width: 100%;
  //     margin: 0;
  //     object-fit: cover;
  //     object-position: center center;
  //     position: absolute;
  //   }
  // }

  .swiper-article-cont {
      &__txt {
        &__headline {
          min-height: 52px;
        }
        
        .article-details {
          display: flex;
          flex-direction: row;
          gap: .5em;
          color: $clr_ml_grey;
          .show-details {
            display: block;
            color: $clr_m_grey;

            
          }.theme-light-green {
              color: $clr_light_green;
            }
        }

        &__headline {
          font-size: $fs_xl;
        }

      }

      .seeMore-cntr {
        width: auto;
        height: auto;
        margin: 0 0;
        padding: 1em 0 1em 0;
        border-top: solid $clr_l_grey 0px;
        border-bottom: solid $clr_m_grey 1px;
      
        &__inner-cntr {
          height: auto;
          width: max-content;
          display: flex;
          flex-direction: row;
          vertical-align: middle;
          align-items: center;
          gap: 1em;
          cursor: pointer;
          transition: $hover_easein-05;
          
            &:hover {
              color: $clr_light_green;
              .arrow-top-right-cntr {
                border: solid $clr_light_green 1px;
                .arrow-top-right {          
                  &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4673 1.0552C15.4673 0.50292 15.0195 0.0552043 14.4673 0.0552041L5.46725 0.0552057C4.91497 0.0552054 4.46725 0.502921 4.46725 1.05521C4.46725 1.60749 4.91497 2.05521 5.46725 2.05521L13.4673 2.0552L13.4673 10.0552C13.4673 10.6075 13.915 11.0552 14.4673 11.0552C15.0195 11.0552 15.4673 10.6075 15.4673 10.0552L15.4673 1.0552ZM1.73933 15.1973L15.1744 1.76231L13.7601 0.348098L0.32512 13.7831L1.73933 15.1973Z' fill='%2300bf4d'/%3E%3C/svg%3E%0A");
                  }
                }
              }
            }
          
        }
      }

  }   




// ---------------------  


// .swiper-article-theme {
  &.theme-plain {
    background-color: transparent;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_ml_grey;
        }
        &__headline {
          color: $clr_midnight_green;
        }
      }
    }
  }

  &.theme-light-grey {
    background-color: $clr_ml_grey;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_m_grey;
        }
        &__headline {
          color: $clr_midnight_green;
        }
      }
    }
  }

  &.theme-dark-grey {
    background-color: $clr_m_grey;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_ml_grey;
        }
        &__headline {
          color: $clr_l_grey;
        }
      }
    }
  }

  &.theme-midnight-green {
    background-color: $clr_midnight_green;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_ml_grey;
        }
        &__headline {
          color: $clr_l_grey;
        }
      }
    }
  }

  &.theme-light-green {
    background-color: $clr_light_green;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_midnight_green;
        }
        &__headline {
          color: $clr_midnight_green;
        }
      }
    }
  }

  &.theme-lightest-green {
    background-color: $clr_lightest_green;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_light_green;
        }
        &__headline {
          color: $clr_midnight_green;
        }
      }
    }
  }

  &.theme-light-orange {
    background-color: $clr_orange;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_light_green;
        }
        &__headline {
          color: $clr_light_green;
        }
      }
    }
  }

  &.theme-dark-red {
    background-color: $clr_dark_red;
    .swiper-article-cont {
      &__txt {
        &__details {
          opacity: .8;
          color: $clr_ml_grey;
        }
        &__headline {
          color: $clr_ml_grey;
        }
      }
    }
  }
    
}