.swiper-article {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  bottom: 0;

  &__img-cntr {
    height: 200px;
    width: 100%;
    position: relative;

    img {            
      height: 100%;
      width: 100%;
      margin: 0;
      object-fit: cover;
      object-position: center center;
      position: absolute;
    }
  }

  &__video-cntr {
    height: 200px;
    width: 100%;
    position: relative;

    video {            
      height: 100%;
      width: 100%;
      margin: 0;
      object-fit: cover;
      object-position: center center;
      position: absolute;
    }
  }

  .swiper-article-cont {
    height: 100%;
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

      &__txt {
        height: 100%;
        width: 100%;
        padding: .5em .25em;
        display: flex;
        flex-direction: column;
        gap: .75em;

        &__details {
          display: flex;
          flex-direction: row;
          gap: .5em;
          color: $clr_m_grey;

          .show-details {
            display: none;
          }
        }

        &__headline {
          font-size: $fs_xl;
        }

        span {
          text-transform: capitalize;
        }

        .txt-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      &__btm {
        width: 100%;
        display: flex;
        justify-content: right;
        bottom: 0;
      }
  }   
}

// -----------------


.swiper-article.podcast-article {
  // border: solid red 1px;
  .img-cntr {
    height: 260px;
    width: auto;
    position: relative;
    img {            
      height: 100%;
      width: 100%;
      margin: 0;
      object-fit: cover;
      object-position: center center;
      position: absolute;
    }
    .podcast-icon {
      position: absolute;
      height: 4em;
      width: 4em;
      right: .5em;
      top: .5em;
      z-index: 999;
      background-image: url("../abstracts/assets/podhop.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .25));
    } 
  }

  .swiper-article-cont {
      &__txt {
        &__headline {
          min-height: 52px;
        }
        
        .article-details {
          display: flex;
          flex-direction: row;
          gap: .5em;
          color: $clr_ml_grey;
          .show-details {
            display: block;
            color: $clr_m_grey;

            
          }.theme-light-green {
              color: $clr_light_green;
            }
        }

        &__headline {
          font-size: $fs_xl;
        }

      }

    .seeMore-cntr {
      margin: 0 0;
      padding: 1em 0 1em 0;
      border-top: 0px;
      border-bottom: solid $clr_ml_grey 1px;
    
      &__inner-cntr {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .arrow-top-right-cntr {
          transform: rotate(90deg);
        }
      }
    }
  }   




// ---------------------  


// .swiper-article-theme {
  &.theme-plain {
    background-color: transparent;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_ml_grey;
        }
        &__headline {
          color: $clr_midnight_green;
        }
      }
    }
  }

  &.theme-light-grey {
    background-color: $clr_ml_grey;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_m_grey;
        }
        &__headline {
          color: $clr_midnight_green;
        }
      }
    }
  }

  &.theme-dark-grey {
    background-color: $clr_m_grey;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_ml_grey;
        }
        &__headline {
          color: $clr_l_grey;
        }
      }
    }
  }

  &.theme-midnight-green {
    background-color: $clr_midnight_green;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_ml_grey;
        }
        &__headline {
          color: $clr_l_grey;
        }
      }
    }
  }

  &.theme-light-green {
    background-color: $clr_light_green;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_midnight_green;
        }
        &__headline {
          color: $clr_midnight_green;
        }
      }
    }
  }

  &.theme-lightest-green {
    background-color: $clr_lightest_green;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_light_green;
        }
        &__headline {
          color: $clr_midnight_green;
        }
      }
    }
  }

  &.theme-light-orange {
    background-color: $clr_orange;
    .swiper-article-cont {
      &__txt {
        &__details {
          color: $clr_light_green;
        }
        &__headline {
          color: $clr_light_green;
        }
      }
    }
  }

  &.theme-dark-red {
    background-color: $clr_dark_red;
    .swiper-article-cont {
      &__txt {
        &__details {
          opacity: .8;
          color: $clr_ml_grey;
        }
        &__headline {
          color: $clr_ml_grey;
        }
      }
    }
  }
    
}