.textBlock {
  height: auto;
  width: 100%;
  margin: 6em 0em 4em 0em;

  &__cntr {
    height: auto;
    width: auto;
    margin: 0em .25em;
    padding: 5em 1em;    
    background-color: $clr_midnight_green;
    color: $clr_lightest_green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;

    &__inner-cntr {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      gap: 2em;

      &__col-1 {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 10;
        gap: 5em;

        &__headline {
          height: auto;
          width: auto;
        } 

        &__text {
          height: 100%;
          width: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 1em;

          p {
            height: auto;
            width: auto;
            font-weight: 300;
          }
        }   
      }

      &__col-2 {
        height: 18em;
        width: 14em;
        position: absolute;
        top: -9em;
        right: -5em;
        overflow: hidden;
        object-fit: cover;

        .img-cntr {
          height: 100%;
          width: auto;
          position: relative;
          overflow: hidden;
          object-fit: cover;
          object-position: right;
         
          &__inner-cntr {
            height: 105%;
            width: auto;
            right: 0%;
            bottom: 0%;
            object-fit: cover;
            position: absolute;

            img {
              height: 100%;
              width: auto;
            }
          }
        }

               
      }
      &__col-3 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
        z-index: 10;

        .cta-btn-cntr {
          margin: 0 auto;
          position: relative;
          bottom: 0;
        } 
      }

    }
  } 
}

@media (min-width: 400px) {
  .textBlock {
    height: auto;
    width: 100%;
    margin: 6em 0em 4em 0em;
  
    &__cntr {
      justify-content: space-between;
  
      &__inner-cntr {
        flex-direction: column;
  
        &__col-1 {
          gap: 4em;
  
          &__text {
            gap: 2em;
          }   
        }
  
        &__col-2 {
          height: 20em;
          width: 14em;
          top: -9em;
          right: -4em;
  
          .img-cntr {
            &__inner-cntr {
              height: 105%;
              width: auto;
              right: 0%;
              bottom: 0%;
            }
          }
        }

        &__col-3 {
          height: auto;
          width: 100%;
          right: 0%;
          bottom: 0%;
        }
      }
    } 
  }
}


@media (min-width: 600px) {
  .textBlock {
    margin: 8em 0em 4em 0em;

    &__cntr {
      margin: 0em 1em;
      padding: 4em 1.5em;
      flex-direction: row;
      justify-content: space-between;
  
      &__inner-cntr {
        flex-direction: column;
  
        &__col-1 {
          width: 60%;
          gap: 4em;

          &__headline {
            h2 {
              font-size: $fs_2-3xl;
            }
            
          } 
  
          &__text {
            justify-content: flex-end;
            width: 80%;
          }   
        }
  
        &__col-2 {
          height: 22em;
          width: 14em;
          top: -9em;
          right: 0em;
  
          .img-cntr {
            &__inner-cntr {
              height: 100%;
              width: auto;
              right: 0%;
              bottom: 0%;
            }
          }
        }

        &__col-3 {
          height: auto;
          width: max-content;
          position: absolute;
          right: 0%;
          bottom: 0%;
        }
      }
    } 
  }
}


@media (min-width: 768px) {
  .textBlock {
    margin: 10em 0em 4em 0em;

    &__cntr {
      margin: 0em 2em;
      padding: 4em 2em;
      flex-direction: row;
      justify-content: space-between;
  
      &__inner-cntr {
        min-height: 18em;
        flex-direction: column;
  
        &__col-1 {
          width: 65%;
          gap: 4em;
  
          &__text {
            justify-content: flex-end;
            width: 70%;
          }   
        }
  
        &__col-2 {
          height: 22em;
          width: 20em;
          top: -9em;
          right: 0em;
        }
      }
    } 
  }
}


@media (min-width: 992px) {
  .textBlock {
    margin: 10em 0em 4em 0em;

    &__cntr {
      margin: 0em 2em;
      padding: 4em 2em;
  
      &__inner-cntr {
        &__col-1 {
          width: 65%;
          gap: 4em;
  
          &__text {
            width: 70%;
          }   
        }
  
        &__col-2 {
          height: 22em;
          width: 20em;
        }
      }
    } 
  }
}

