.textBlock {
  height: auto;
  width: 100%;
  margin: 5em 0em 4em 0em;

  &__cntr {
    height: auto;
    width: auto;
    margin: 0em .25em;
    padding: 2em 1em;    
    background-color: $clr_midnight_green;
    color: $clr_l_grey;

    &__inner-cntr {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2em;

      &__col-1 {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        gap: 5em;

        .col-1-img-cntr {
          height: 18em;
          width: 70%;
          position: absolute;
          overflow: hidden;
          object-fit: cover;
          top: -5.5em;
          right: -2.5em;
          object-position: right;
         
          &__inner-cntr {
            height: 110%;
            width: auto;
            object-fit: cover;
            object-position: right 0%;
            right: 0em;
            bottom: 0em;
            position: absolute;
            filter: brightness(.9);

            img {
              height: 100%;
              width: auto;
            }
          }
        }

        &__headline {
          height: auto;
          width: auto;
          margin: 1em 0 0 0;
          z-index: 999;
          color: $clr_lightest_green;
        } 

        &__text {
          height: auto;
          width: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: .5em;
          z-index: 999;
          color: $clr_lightest_green;

          p {
            height: auto;
            width: auto;
          }
        }   
      }

      &__col-2 {
        height: auto;
        width: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        align-items: flex-end;

        .img-cntr {
          display: none;
          height: 10em;
          width: 100%;
          position: relative;
          overflow: hidden;
          object-fit: cover;
          object-position: right;
         
          &__inner-cntr {
            height: auto;
            width: 100%;
            right: 0%;
            top: -25%;
            object-fit: cover;
            position: absolute;

            img {
              height: auto;
              width: 100%;
            }
          }
        }

        .cta-btn-cntr {
          margin: 0 0 0 auto;
          position: relative;
          bottom: 0;
        }
        
      }

    }
  } 
}


@media (min-width: 600px) {
  .textBlock {
    margin: 8em 0em;
  
    &__cntr {
      margin: 0em 1em;
      padding: 3em 2em;    
  
      &__inner-cntr {
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
  
        &__col-1 {
          width: 50%;
          justify-content: space-between; 
          .col-1-img-cntr {
            display: none;
            
          }

          &__headline {
            h2 {
              font-size: $fs_2-3xl;
            }
          }

          &__text {
            width: 90%;
            gap: 1em;
          }  
        }
  
        &__col-2 {
          width: 40%;
          flex-direction: column;
          justify-content: space-between;

          .img-cntr {
            display: contents;
            height: 20em;
            width: 100%;
            position: absolute;
            right: 0%;
            bottom: 6em;
           
            &__inner-cntr {
              height: auto;
              width: auto;
              right: -0%;
              bottom: 0;  

              img {
                height: 100%;
                width: auto;
              }
            }
          }
  
          .cta-btn-cntr {
            margin: 0 auto;
            position: absolute;
            bottom: 0;
          }

        }
      }
    } 
  }
}


@media (min-width: 768px) {
  .textBlock {
    margin: 8em 0em 4em 0em;
  
    &__cntr {
      margin: 0em 2em;
      padding: 4em 2.75em;    
  
      &__inner-cntr {  
        &__col-1 {
          width: 55%;
          gap: 2.5em;

          .col-1-img-cntr {
            display: none;            
          }

          &__headline {
            h2 {
              font-size: $fs_3xl;
            }
          }

          &__text {
            width: 80%;
            gap: 2em;
          }  
        }
  
        &__col-2 {
          width: 40%;

          .img-cntr {
            height: 23em;
          }
        }
      }
    } 
  }
}


@media (min-width: 920px) {
  .textBlock {
    margin: 9em 0em 4em 0em;
  
    &__cntr {
      padding: 5em 3em;    
  
      &__inner-cntr {
        &__col-1 {
          width: 60%;
          gap: 3em;

          &__headline {
            h2 {
              font-size: $fs_3xl;
            }
          }

          &__text {
            width: 70%;
          }  
        }
  
        &__col-2 {
          width: 35%;
          max-width: 320px;
        }
      }
    } 
  }
}
