.video-article {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .2em;
  bottom: 0;

  &__img-cntr {
    height: auto;
    width: 100%;

    img {            
      height: 100%;
      width: 100%;
      margin: 0;
      object-fit: cover;
    }
  }

  .video-cnt {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__txt {
      height: auto;
      width: auto;
      padding: .5em 0;
      display: flex;
      flex-direction: column;
      gap: .75em;

      &__details {
        color: $clr_ml_grey;
      }

      &__headline {
        font-size: $fs_ml;
      }

      span {
        text-transform: capitalize;
      }

      .txt-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__btm {
      width: 100%;
      display: flex;
      justify-content: right;
      bottom: 0;
    }
  }   
}

.flex-cntr-section { 

  
  .video-article {
    &:nth-child(4n + 0) {
      height: 100%;
    }

  //   &:nth-child(n+1):nth-child(-n+3) {
  //     height: auto;
  //     background-color: aqua;
  //     p {
  //       display: none;
  //     }
  //   }

  }
  
}