.textCtaSection {
    height: auto;
    width: 100%;

    &__inner-cntr {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, auto);
        row-gap: 2em;

        .txt-cntr {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__inner-cntr {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1em;

                .subheader {
                    font-size: $fs_2xl;
                }

                .cta-btn {
                    height: auto;
                    width: max-content;
                    margin: auto auto;
                    padding: 1em 2.25em;
                    border: none;
                    background-color: $clr_lightest_green;
                    font-size: $fs_m;
                    border-radius: 50px;
                }
            }
            
        }

        .img-cntr {
            height: 200px;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

@media (min-width: 600px) {
    .textCtaSection {
    
        &__inner-cntr {
            height: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            border: solid red 1px;

            .headline-cntr {
                height: 100%;
                border: solid blue;
                grid-area: 1 / 1 / 2 / 2;

                h2 {
                    font-size: $fs_3xl;
                }
            }
    
            .txt-cntr {
                grid-area: 1 / 2 / 3 / 3;
                height: 100%;
                border: solid red 1px;
                display: flex;
                flex-direction: column;

                &__inner-cntr {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    border: solid green 1px;

                    .subheader {
                        font-size: $fs_2xl;
                    }
        
                    .cta-btn {
                        height: auto;
                        width: max-content;
                        margin: 0 auto;
                        padding: 1em 2.25em;
                        border: none;
                        background-color: $clr_lightest_green;
                        font-size: $fs_m;
                        border-radius: 50px;
                    }
                }   
            }
    
            .img-cntr {
                grid-area: 2 / 1 / 3 / 2;
                border: solid red 1px;
                height: 100%;
                width: 100%;
                max-width: 80%;
                left: 0;
                bottom: 0;
                object-fit: contain;

                img {
                    border: solid blue 1px;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 992px) {}
