* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: $ff-main;
  color: $clr_midnight_green;
  background-color: $clr_white;
}

img {
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: $clr_midnight_green;
}